# STAT 201 Project Proposal - Question will be added here*

## Introduction

### Background
Monetary compensation is a one of the key factors in employees’ response to job satisfaction questions along with education matching the role of an employee (Card et al., 2012; Lee & Sabharwal, 2014)

This serves as the motivation for this project with the goal being to provide open information about compensation and factors that can contribute to the amount of compensation those in the data science field can expect to receive. While this can be used for monetary gain, the root problem we hope to contribute to using this statistical analysis is to increase workplace satisfaction. At its heart, this project is meant for both employees and employers who can benefit from greater job satisfaction; this can create a work environment that is productive for employees (and employers to a certain extent) in and out of the workplace by influencing work-life balance.

### Guiding Question
How does experience level, job title, and employment type contribute to a person’s salary in USD and in what empirical level does that put this salary relative to the median salary in the company’s country? 
> I.e. what traits (experience level, job title, employment type) put salaries in the top 5% of salaries in the country (or above the median or mean salary).

### Dataset

We gather the data used in this project from (https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries). The data was aggregated by ai-jobs.net and contains both qualitative and quantitative observations we can harness: for example, the year the salary was paid, experience level, employment type, title, salary, remote ratio, company size, and company location. Many of these variables are interesting to compare and contrast in the future to get a more complete picture.

## Preliminary Results

### Reading the Data

Kaggle does not allow datasets to be referenced directly from the website. As a result, we downloaded the data (viewable in the `./` directory) and reference it here.

In [2]:
# TODO- MAKE SURE WE ARE USING ALL OF THESE DEPENDENCIES AND IF NOT, DELETE THE UNNEEDED ONES
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

salaries <- read.csv("ds_salaries.csv") %>%
    select(!X)

# preview the data
head(salaries)

  work_year experience_level employment_type job_title                  salary
1 2020      MI               FT              Data Scientist              70000
2 2020      SE               FT              Machine Learning Scientist 260000
3 2020      SE               FT              Big Data Engineer           85000
4 2020      MI               FT              Product Data Analyst        20000
5 2020      SE               FT              Machine Learning Engineer  150000
6 2020      EN               FT              Data Analyst                72000
  salary_currency salary_in_usd employee_residence remote_ratio
1 EUR              79833        DE                   0
2 USD             260000        JP                   0
3 GBP             109024        GB                  50
4 USD              20000        HN                   0
5 USD             150000        US                  50
6 USD              72000        US                 100
  company_location company_size
1 DE               L
2 JP               S
3 GB               M
4 HN               S
5 US               L
6 US               L

### Cleaning and Wrangling Data

Since we are only comparing X, Y, Z, we can filter out the unnecessary observations. 

**TODO: Check and confirm with the group what the actual variables we are comparing are and if those variables are good**

In [4]:
# TODO - Change back from Temp code this is currently set to
data_scientist_salaries <- salaries %>%
    group_by(job_title) %>%
    summarize(n = n())

(data_scientist_salaries)

   job_title                                n
1  3D Computer Vision Researcher              1
2  AI Scientist                               7
3  Analytics Engineer                         4
4  Applied Data Scientist                     5
5  Applied Machine Learning Scientist         4
6  BI Data Analyst                            6
7  Big Data Architect                         1
8  Big Data Engineer                          8
9  Business Data Analyst                      5
10 Cloud Data Engineer                        2
11 Computer Vision Engineer                   6
12 Computer Vision Software Engineer          3
13 Data Analyst                              97
14 Data Analytics Engineer                    4
15 Data Analytics Lead                        1
16 Data Analytics Manager                     7
17 Data Architect                            11
18 Data Engineer                            132
19 Data Engineering Manager                   5
20 Data Science Consultant                    7
21 Data Science Engineer                      3
22 Data Science Manager                      12
23 Data Scientist                           143
24 Data Specialist                            1
25 Director of Data Engineering               2
26 Director of Data Science                   7
27 ETL Developer                              2
28 Finance Data Analyst                       1
29 Financial Data Analyst                     2
30 Head of Data                               5
31 Head of Data Science                       4
32 Head of Machine Learning                   1
33 Lead Data Analyst                          3
34 Lead Data Engineer                         6
35 Lead Data Scientist                        3
36 Lead Machine Learning Engineer             1
37 Machine Learning Developer                 3
38 Machine Learning Engineer                 41
39 Machine Learning Infrastructure Engineer   3
40 Machine Learning Manager                   1
41 Machine Learning Scientist                 8
42 Marketing Data Analyst                     1
43 ML Engineer                                6
44 NLP Engineer                               1
45 Principal Data Analyst                     2
46 Principal Data Engineer                    3
47 Principal Data Scientist                   7
48 Product Data Analyst                       2
49 Research Scientist                        16
50 Staff Data Scientist                       1

### Plots

TODO: Discuss what we can do for plots. We should try to think of something interesting that can be related to the hypothesis testing

### Estimates

## Methods: Plan

### Expected Outcomes and Significance

### Future

With the observations we are analyzing and comparing, we are only scratching the surface of all that there is to be examined. The possibilities are endless. For example, another question worth answering with this same dataset is how does remote ratio affect salary? 

We hope further research can be conducted comparing different variables further along with assessment on how salary impacts wellbeing and job satisfaction for both parties (the employer and employee) and along multiple industries.

## References

Card, D., Mas, A., Moretti, E., & Saez, E. (2012). Inequality at Work: The Effect of Peer Salaries on Job Satisfaction. American Economic Review, 102(6), 2981–3003. https://doi.org/10.1257/aer.102.6.2981

Lee, Y., & Sabharwal, M. (2014). Education–Job Match, Salary, and Job Satisfaction Across the Public,, Non-Profit, and For-Profit Sectors: Survey of recent college graduates. Public Management Review, 18(1), 40–64. https://doi.org/10.1080/14719037.2014.957342