# STAT 201 Project Proposal - Question will be added here*

## Introduction

### Background

### Guiding Question

### Dataset

## Preliminary Results

### Reading the Data

In [23]:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

student_data <- read_csv2("student-mat.csv")
head(student_data)
colnames(student_data)

ℹ Using "','" as decimal and "'.'" as grouping mark. Use `read_delim()` for more control.

Rows: 395 Columns: 33
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (17): school, sex, address, famsize, Pstatus, Mjob, Fjob, reason, guardi...
dbl (16): age, Medu, Fedu, traveltime, studytime, failures, famrel, freetime...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3       6        5  6  6
2 3        3     1    1    3       4        5  5  6
3 3        2     2    3    3      10        7  8 10
4 2        2     1    1    5       2       15 14 15
5 3        2     1    2    5       4        6 10 10
6 4        2     1    2    5      10       15 15 15

 [1] "school"     "sex"        "age"        "address"    "famsize"
 [6] "Pstatus"    "Medu"       "Fedu"       "Mjob"       "Fjob"
[11] "reason"     "guardian"   "traveltime" "studytime"  "failures"
[16] "schoolsup"  "famsup"     "paid"       "activities" "nursery"
[21] "higher"     "internet"   "romantic"   "famrel"     "freetime"
[26] "goout"      "Dalc"       "Walc"       "health"     "absences"
[31] "G1"         "G2"         "G3"

### Cleaning and Wrangling Data

In [73]:
student <- student_data %>%
    mutate(school = as.factor(school),
           parents_tog = Pstatus == "T",
           mother_job = as.factor(Mjob), 
           father_job = as.factor(Fjob), 
           studytime = as.factor(as.integer(studytime)), 
           final_grade = G3) %>%
    select(school, parents_tog, mother_job, father_job, studytime, final_grade)

head(student)

  school parents_tog mother_job father_job studytime final_grade
1 GP     FALSE       at_home    teacher    2          6
2 GP      TRUE       at_home    other      2          6
3 GP      TRUE       at_home    other      2         10
4 GP      TRUE       health     services   3         15
5 GP      TRUE       other      other      2         10
6 GP      TRUE       services   other      2         15

### Plots

### Estimates

## Methods: Plan

### Expected Outcomes and Significance

### Future

## References